@tailwind base;
@tailwind components;
@tailwind utilities;

.bodyContainer {
    margin-top: 90px;
}

.mainImage {
    height: 80vh;
    width: 100vw;
}

.testimonialImage{
    width: 100%;
    max-width: 500px;
    /* Full width of container */
    aspect-ratio: 1/1;
    /* Ensures 1:1 aspect ratio */
    object-fit: cover;
}
.productImage{
    width: 100%;
    /* Full width of container */
    aspect-ratio: 1/1;
    /* Ensures 1:1 aspect ratio */
    object-fit: cover;
}
::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  
  * {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }